<!DOCTYPE html>
<html lang="en">
    {% embed molecule('header') %}{% endembed %}
    {% block body %}
    <body>
        {% block content %}{% endblock %}
        {% embed molecule('footer') %}{% endembed %}
    </body>
    {% endblock %}
</html>