{% extends template('layout-center', 'DockerCi') %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                {% embed organism('register') with {
                    data: {
                        form: {
                            data: registerForm
                        },
                        alert: {
                            state: state
                        }
                    }
                } %}{% endembed %}
            </div>
        </div>
    </div>
{% endblock %}