{% setting data = {
    href: '#',
    value: 'Button',
    type: 'primary',
    class: ''
} %}
{% block button %}
    <a href="{{ data.href }}" class="btn btn-{{ data.type }}{% if data.class != "" %}{{ data.class }}{% endif %}">{{ data.value }}</a>
{% endblock %}