{% setting data = {
    prepend: '@',
    id: 'input-prepend',
    placeholder: '',
    type: 'text',
    required: false
} %}

{% block prepend %}
    <div class="input-group-prepend">
        <div class="input-group-text">{{ data.prepend }}</div>
    </div>
{% endblock %}
{% block input %}
    <input type="{{ data.type }}"{% if data.required %} required="required"{% endif %} class="form-control" id="{{ data.id }}"{% if data.placeholder != "" %} placeholder="{{ data.placeholder }}"{% endif %} />
{% endblock %}